.search-box-container {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    padding-left: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add space between input groups */
}

.icon {
    margin-right: 5px;
    color: #7e8b97;
}

input {
    border: none;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

input:hover {
    background-color: #f0f0f0;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 25px; /* Add space between date picker and search button */
    background-color: #007bff;
}

.search-button:hover {
    background-color: #0056b3;
}
